.element__name {
  margin: 0;
  max-width: 185px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .element__name {
    max-width: 170px;
  }
}


@media screen and (max-width: 820px) {
  .element__name {
    max-width: 270px;
  }
}

@media screen and (max-width: 740px) {
  .element__name {
    max-width: 210px;
  }
}

@media screen and (max-width: 660px) {
  .element__name {
    max-width: 170px;
  }
}

@media screen and (max-width: 560px) {
  .element__name {
    max-width: 430px;
  }
}

@media screen and (max-width: 440px) {
  .element__name {
    max-width: 230px;
  }
}

@media screen and (max-width: 360px) {
  .element__name {
    max-width: 190px;
  }
}
