.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/edit-button.png);
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  grid-area: profile__edit-button;
  align-self: end;
  margin-bottom: 8px;
  transition: opacity 0.5s linear;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    margin-bottom: 6px;
  }
}
