.profile__content {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .profile__content {
    gap: 15px;
  }
}

@media screen and (max-width: 560px) {
  .profile__content {
    flex-direction: column;
    gap: 22px;
  }
}
