.popup__about-input {
  margin: 0 0 48px;
  padding: 0 0 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width: 560px) {
  .popup__about-input {
    margin-bottom: 45px;
  }
}
