.element__like-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like-button.svg);
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  align-self: end;
  margin-bottom: 4px;
  transition: opacity 0.5s linear;
}

.element__like-button:hover {
  opacity: 0.5;
}

.element__like-button:active {
  background-image: url(../../../images/like-button-active.svg);
  opacity: 1;
}
