.footer {
  max-width: 880px;
  margin: 0 auto 60px;
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 907px) {
  .footer {
    width: calc(100% - 38px);
  }
}


@media screen and (max-width: 425px) {
  .footer {
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
  }
}
